<div class="splash-screen">
    <h1>Welcome to ShiftWiz!</h1>
    <p>ShiftWiz is a revolutionary app designed to simplify work scheduling for small businesses. With its user-friendly interface, you can easily view your work schedule, submit requests for time off, and make modifications to your schedule with just a few clicks. No more need for cumbersome printouts or phone calls to find out when you're working next - everything you need is right at your fingertips!</p>

{{#if isLoggedIn}}
  <!-- Add content for logged in users here -->
{{else}}
<div class="form-group">
  <a href="/login"><button class="login-button" text-decoration="none">Login</button></a>
  </div>
{{/if}}
</div>